html {
  box-sizing: border-box;
}

/* element selector - attaches css to all elements on the page of a type */
header {
  color: orange;
}

/* class selector - attaches css to any/all elements on page that have the class */
.nav-link {
  color: black;
  font-size: 24px;
  text-decoration: none;
}

.red {
  background-color: red;
}

/* id selector - attaches css to one and only one element on the page */
#home-link {
  background-color: blue;
  color: lightgrey;
}
